<div class="osd-home-logo-section mdl-typography--text-center">
  <div class="osd-home-logo">
    <a href="#discover">
      <img class="osd-home-logo-img" src="assets/img/logos/osd-logo-home.svg" alt="logo opensensorsdata" />
    </a>
    <div class="osd-home-payoff">
      <h3>We open data</h3>
      <p class="osd-home-payoff"><a href="#discover">
        <br>We deliver strategies and run projects of data reuse, <br>making open data a valuable asset <br>and a sustainable element of business models<br><br><i class="material-icons">expand_more</i>
      </a></p>
    </div>
    <!-- <a href="#mission"><i class="material-icons">expand_more</i></a> -->
  </div>
</div>
